/* Hoja de estilos */
body {
  background-color: #ffffff;
  color: #2d2d2d;
  margin: 0 auto;
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 768px;
}

.header.flex-container { margin: 16px 0; }
.select-idioma { height: 20px; margin-right: 16px; }
.header.flex-container .flex-item { flex: 0 0 auto; }
.header.flex-container .flex-item img{ margin: 0 8px 0 16px; }
.header.flex-container h4.flex-item { flex: 1 1 auto; }
h4.title.flex-item { color: #3282b8; font-size: 16px; margin: 0; }

.container { padding: 0 16px; }
.descripcion { font-size: 12px; }
.subdivision {
  position: relative;
  height: 1px;
  background-color: #3282b8;
  margin: 24px 16px 16px;
}
.subdivision span {
  text-align: center;
  left: 50%;
  position: absolute;
  top: -2px;  
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  padding: 0 16px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666666;
}
.icon-header { padding-top: 8px; }
.icon-header ul { margin: 0; padding: 0; }
.icon-header ul li {
  list-style: none;
  text-align: center;
  width: 18%;
  display: inline-block;
}
.icon-header ul li span { display: block; text-align: center; }
.icon-header ul li span.li-text {
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
}
.icon-header ul li.active span.li-text { color: #0f4c75; font-weight: bold; }
.icon-header svg {
  cursor: pointer;
  height: 22px;
  fill: #0f4c75;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #0f4c75;  
}
.icon-header .active svg, .icon-header svg:hover {
  fill: #ffffff;
  background-color: #0f4c75;
  border: 1px solid #0f4c75;
}
.cell-parametro { position: relative; margin: 16px 0; }
.parametros { background-color: #ffffff; }
.parametros-header__title { color: #0f4c75; margin: 0; padding: 8px 16px; }
.cell-header {
  position: absolute;
  top: 0px;
  left: 50px;
  width: calc(100% - 50px);
}
.cell-header p.par-title {
  border-radius: 0 8px 0 12px;
  border-bottom: 1px solid #3282b8;
}
.cell-parametro .informacion {
  position: absolute;
  top: 3px;
  right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3282b8;
  color: #ffffff;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  cursor: pointer;
}
.cell-parametro p.par-title {
  background-color: #ffffff;
  font-size: 10px;
  margin: 0;
  padding: 5px 16px;
  text-transform: uppercase;
}
.cell-footer {
  border-top: 1px solid #3282b8;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
.parametros .calculo {
  height: calc(100% - 30px);
  padding: 22px 16px 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 22%;
}
.calculos { overflow: hidden; padding: 22px 0 8px; }
.calculos .calculo__1-3 { width: 33%; float: left; }
.calculos, .parametros .calculo {
  background-color: #3282b8;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  text-align: center;
}
.valor {
  font-weight: bold;
  font-size: 28px;
  display: block;
  width: calc(100% + 32px);
  margin-left: -16px;
  text-align: center;
}
.parametros .parametro {
  display: block;
  font-size: 10px;
  text-align: center;
}
.parametros .valores { margin: 0 auto; }
.parametros .valores.valores__1-3 { margin: 0 auto; padding: 16px; }
.parametros .valores div {
  width: 47%;
  margin: 0 .5% 8px;
  display: inline-block;
}
.parametros .valores.valores__1-3 div { width: calc(33% - 8px); }
.parametros .valores label { display: block; }
.parametros .valores input { width: calc(100% - 38px); }
.parametros .valores input { text-align: right; }
.acordeon.mostrar__valores-adicionales {
  padding: 16px 16px 8px !important;
  border-top: 1px dashed #3282b8;
}
.acordeon {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  padding: 0 16px !important;
}
.valores-adicionales input,
.campoAvanzado input {
  border: 1px solid orange;
}
.borderLeftHeader {
  border-radius: 5px 5px 0 0;
  background-color: #3282b8;
  width: 100%;
  height: 32px;  
}

.prametros-flex { 
  background-color: #0f4c75;
  color: #ffffff;
  padding: 8px 0 0;
}
.parametro-item.flex-item { align-self: flex-end; }
.parametro-item p{
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
}

.hidden { display: none !important; }
.center { text-align: center; }
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}
.flex-item { order: 0; flex: 1; align-self: auto; }

.txt_note { width: 100%; text-align: justify; }

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 8px;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin-top: -27px;
  margin-left: 99%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.title_modal {
  text-align: center;
  margin-bottom: 24px;
}
/* Modal */

/* Iconos Ver/Ocultar */
.borderLeftAvanzado {
  background-color: #3282b8;
  bottom: 0;
  height: 23px;
  left: 0;
  position: absolute;
  width: calc(22% + 32px);
}
.cell-footer .icoVer, .cell-footer .icoOcultar { cursor: pointer; }
.cell-footer span { line-height: 20px; }
.cell-footer span, .cell-footer svg {
  float: right;
  margin-right: 8px;
}
.cell-footer .icoVer svg { height: 18px; width: 20px; }
.cell-footer .icoOcultar svg { height: 18px; width: 20px; }
.cell-footer.ocultar .icoVer { display: none; }
.cell-footer.mostrar .icoOcultar { display: none; }
.cell-parametro { width: 100%; padding-bottom: 16px; }

/* NUEVOS ESTILOS */
.datos-header {
  margin: 16px 0;
  background-color: #3282b8;
  padding: 8px;
}
.datos-header .flex-item {
  color: #ffffff;
  text-align: center;
}
.icon-parametros { width: 75%; margin: 16px auto; min-width: 300px; }
.icon-parametros .ico-parametro svg,
.icon-parametros .ico-resultado svg{
  cursor: pointer;
  height: 22px;
  fill: #999999;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #999999;
}
.icon-parametros .ico-parametro span,
.icon-parametros .ico-resultado span{
  display: block;
  color: #999999;
}
.icon-parametros .ico-parametro.active svg,
.icon-parametros .ico-parametro svg:hover, 
.icon-parametros .ico-resultado.active svg,
.icon-parametros .ico-resultado svg:hover{
  fill: #ffffff;
  background-color: #999999;
  border: 1px solid #999999;  
}
.icon-parametros .ico-parametro.active span,
.icon-parametros .ico-resultado.active span {
  color: #2d2d2d;
}
